<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title CardReality</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/theme-scripts")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")    
    
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="container">
        @Html.Partial("_headerMenu")
        
        <section id="home" class="container">
            @RenderBody()    
        </section>
        
        @Html.Partial("_footerPartial")
        
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
