@model CardReality.Data.Models.Player

@{
    ViewBag.Title = "Profile";
}

<div class="page-header">
    <h2>Profile!</h2>
</div>

<div class="container" style="margin-bottom: 10px;">
    <div class="col-lg-4">
        <img src="@Html.Raw(Model.ImageURL)" class="img-thumbnail" />
    </div>
    
    <div class="col-lg-8 clearfix">
        <ul class="list-group">
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.UserName): </strong>
                @Html.DisplayFor(modelItem => Model.UserName)
            </li>
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.Email): </strong>
                @Html.DisplayFor(modelItem => Model.Email)
            </li>
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.Money): </strong>
                @Html.DisplayFor(modelItem => Model.Money)
            </li>
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.Wins): </strong>
                @Html.DisplayFor(modelItem => Model.Wins)
            </li>
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.Loss): </strong>
                @Html.DisplayFor(modelItem => Model.Loss)
            </li>
        </ul>
        @Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-system pull-right" })
    </div>
</div>