@using CardReality.Enums
@using CardReality.Services
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_carouselPartial")

<!-- Start Content -->
<div id="content">
    <div class="container">
        <!-- Start Services Icons -->
        <div class="row">
            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-bolt icon-medium-effect icon-effect-2 gray-icon"></i>
                </div>
                <div class="service-content">
                    <h4>@LocalizationService.Translate(Message.GameType)</h4>
                    <p>@LocalizationService.Translate(Message.GameTechs)</p>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-eye icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>@LocalizationService.Translate(Message.DesignResponsive)</h4>
                    <p>@LocalizationService.Translate(Message.DesignInfo)</p>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-code icon-medium-effect icon-effect-2 gray-icon"></i>
                </div>
                <div class="service-content">
                    <h4>@LocalizationService.Translate(Message.CleanCode)</h4>
                    <p>@LocalizationService.Translate(Message.CleanCodeInfo)</p>
                </div>
            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-magic icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>@LocalizationService.Translate(Message.HighQuality)</h4>
                    <p>@LocalizationService.Translate(Message.HighQualityInfo)</p>
                </div>
            </div>
            <!-- End Service Icon 4 -->
        </div>
        <!-- End Services Icons -->
    </div>
    
    @Html.Partial("_teamPartial")
</div>