@{
    ViewBag.Title = "Home Page";
}

<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
    <img src="@Url.Content("~/Content/Images/cover-photo.png")" alt="Card-Reality-Cover-Photo" />
</div>

<div class="col-lg-12 col-md-12 col-sm-12 home-container">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homepage-intro">
        <img src="@Url.Content("~/Content/Images/RoYaL-card.png")" alt="RoYaL-card-photo" />
        <p>
            You, yes exactly you! Go ahead now and register to compete against other real players!
        </p>
        <a class="btn btn-primary" href="@Url.Action("Register", "Account")">Register</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homepage-intro">
        <img src="@Url.Content("~/Content/Images/bankin-card.png")" alt="bankin-card-photo" />
        <p>
            Don't be afraid of the other players. Go ahead and check the rankings to see what's happening!
        </p>
        <a class="btn btn-primary" href="@Url.Action("index", "Ranking")">Rankings</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 homepage-intro">
        <img src="@Url.Content("~/Content/Images/julieta-card.png")" alt="julieta-card-photo" />
        <p>
            But we are not scary after all. Go and check who created this game in the about us page. Feel free to contact us with you amazing ideas on how to improove this game.
        </p>
        <a class="btn btn-primary" href="@Url.Action("About")">About Us</a>
    </div>
</div>