@model IEnumerable<CardReality.Data.Models.Market>

@{
    ViewBag.Title = "Index";
}

<div class="page-header clearfix">
    <h2 class="pull-left">Market</h2>
    
    <div class="pull-right">
        @Html.ActionLink("Create New", "Add", null, new { @class = "btn btn-default" })
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoldOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldOn)
        </td>
        <td>
            @Html.ActionLink("Buy", "Buy", new { id=item.Id })
        </td>
    </tr>
}

</table>
